body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-light: #262626;
  --bg: #1a1a1a;
  --bg-dark: #000000;

  --fg-light: #ffffff;
  --fg: #f2f2f2;
  --fg-dark: #e6e6e6;

  --fg-accent-light: #ffffcc;
  --fg-accent: #ffff99;
  --fg-accent-dark: #ffff80;

  --fg-accent-2: #ffffff;
}